@import "~bootstrap/scss/bootstrap";

@import "../components/flash";
@import "utils/variables";
@import "layouts/navbar";
@import "layouts/sidebar";
@import "layouts/footer";
@import "content/index";
@import "content/user";
@import "content/rank";

body {
    background-color: lightgray;

    a {
        text-decoration: none;
    }

    .wrapper {
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .admin-wrapper {
        margin-left: 300px;
    }

    .admin-wrapper-full {
        margin-left: 30px;
    }

    .admin-content {
        margin: 0 15px 15px 15px;
    }
}
