.table-link {
  color: #212529;
}

.form-group {
  margin-bottom: 10px;

  label {
    margin-bottom: 5px;
  }
}

.btn-delete-form {
  display: inline-block;
}

.bg-admin-content {
  background-color: #f8f9fa;
  padding: 5px 10px;
}
