.article_index {
  margin-top: 150px;
  margin-bottom: 50px;

  .col {
    display: flex;

    .card-title {
      color: $black;
    }

    .card-tags {
      background-color: #83eaad;
      padding: 5px 15px;
      border-radius: 15px;
    }
  }
}
