<form method="post" class="btn-delete-form" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer le compte ?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ user.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
