{% extends 'admin/base.html.twig' %}

{% block body %}
   <div class="admin-content">
      <div class="admin-form">
         <h3>Modification de l'utilisateur</h3>
         {{ form_start(form) }}
         {{ form_widget(form) }}
         <button class="btn btn-success">{{ button_label|default('Modifier') }}</button>
         {{ form_end(form) }}
      </div>
   </div>
{% endblock %}
