{% extends 'base.html.twig' %}

{% block title %}Oublie de mot de passe{% endblock %}

{% block body %}
   <div class="banner">
      <div class="wrapper">
         <div class="container login-form">
            <form method="post">
               <h1 class="h3 mb-3 font-weight-normal">Oublie de mot de passe</h1>

               {{ form_start(form) }}
               {{ form_widget(form) }}
               <button class="btn btn-primary mt-3">{{ button_label|default("Envoyer") }}</button>
               {{ form_end(form) }}
            </form>
         </div>
      </div>
   </div>
{% endblock %}
