.account {
  margin-top: 150px;
  background-color: $bg-account;
  padding: 15px;
  margin-bottom: 42px;
}

.close {
  background-color: transparent;
  border: none;
  font-size: 30px;
}

#user_edit {
  div.form-group {
    padding-bottom: 10px;
  }
  div.form-group:last-child {
    padding-bottom: 0;
  }
}

#reset_password {
  .form-group:first-child {
    padding-bottom: 10px;
  }
}
