<form method="post" class="btn-delete-form" action="{{ path('admin_tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce tag ?');">
   <input type="hidden" name="_method" value="POST">
   <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ tag.id) }}">
   <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
