<form method="post" class="btn-delete-form" action="{{ path('admin_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce commentaire ?');">
   <input type="hidden" name="_method" value="POST">
   <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ comment.id) }}">
   <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
