<!--Modal-->
<div class="modal fade" id="comment" tabindex="-1"  aria-labelledby="editCommentLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="editCommentLabel">Modifier mon commentaire</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            {{ form_start(editForm) }}
            {{ form_widget(editForm) }}
         </div>
         <div class="modal-footer">
            <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
            {{ form_end(editForm) }}
         </div>
      </div>
   </div>
</div>
