.myNav {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.4s ease;
  width: 100%;
  position: fixed;
  line-height: 65px;
  text-align: center;

  .navTitle {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;

    a {
      text-decoration: none;
      color: $white;
      font-size: 1.5rem;
    }
  }

  .navList {
    height: 65px;
    float: right;

    .navLinks {
      width: 100%;
      height: 65px;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 1.5rem;

        a {
          text-decoration: none;
          color: $white;
          line-height: 65px;
          font-size: 1.2rem;
        }
      }
    }
  }

  .navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: 22px 40px auto auto;
    display: none;

    i {
      background-color: #fff;
      border-radius: 2px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
    }
  }
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80");
  background-position: center top;
  background-size: cover;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.navScroll {
  padding: 0;
  background-color: $bg-black;
}

@media screen and (max-width: 768px) {
  .navTitle {
    padding-left: 15px!important;
  }

  .navList {
    width: 100%;
    height: 0!important;
    overflow: hidden;

    ul {
      flex-direction: column;
      width: 100%;
      height: 100vh!important;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: $bg-black;
      background-position: center top;

      li {
        width: 100%;
        text-align: right;

        a {
          text-align: center;
          width: 100%;
          font-size: 1.2rem;
          padding: 20px;
        }
      }
    }
  }

  .navTrigger {
    display: block!important;
  }

  // Class de navbar.js
  .showList {
    height: auto!important;
    display: none;
  }
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
