<form method="post" class="btn-action-delete" action="{{ path('user_account_remove', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer votre compte ?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ app.user.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
