<div class="container style-form">
   <h1>Oublie de mot de passe</h1>

   {{ form_start(form) }}
   {{ form_widget(form) }}
   <button class="btn btn-info">{{ button_label|default('Sign Up') }}</button>
   {{ form_end(form) }}
</div>
