<form class="btn-delete-form" method="post" action="{{ path('admin_contact_unconfirm', {'id': contact.id}) }}" onsubmit="return confirm('Est-tu sûr de vouloir enlever la validation cette demande ?');">
   <input type="hidden" name="_method" value="POST">
   <input type="hidden" name="_token" value="{{ csrf_token('unconfirm' ~ contact.id) }}">
   <button class="btn btn-success"><i class="fas fa-times"></i></button>
</form>
