@import "~bootstrap/scss/bootstrap";

@import "utils/variables";
@import "layouts/navbar";
@import "layouts/navbarDefault";
@import "layouts/footer";
@import "content/user/security";
@import "content/user/account";
@import "content/article/article";
@import "content/article/comment";
@import "content/contact/contact";
@import "components/flash";

body {
    background-color: lightgray;

    a {
        text-decoration: none;
    }

    .wrapper {
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .typed-block {
        height: 100vh;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
            color: $white;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
